body {
  background-color: #edf2c5;
  box-sizing: border-box;
}

.clear {
  margin: 0px;
  padding: 0px;
}

.box {
  background-color: #778a50;
  border-radius: 3px;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/*--header_box--*/
.header_box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 45px;
  position: relative;
}

.header_title {
  font-family: Arial Black, sans-serif;
  font-size: 44px;
  color: #778a50;
  font-weight: 800;
  margin-bottom: 8px;
}

.header_link {
  display: flex;
  align-items:center;
}

.btn_facebook {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.btn_instagram {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.line_separate {
  width: 1px;
  height: 25px;
  background-color: #778a50;
  margin-left: 5px;
  margin-right: 5px;
}

.btn_box {
  border: solid 1px #778a50;
  border-radius: 3px;
  font-family: Arial Black, sans-serif;
  font-size: 14px;
  color: #778a50;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.btn_login {
  width: 60px;
  height: 25px;
  margin-right: 5px;
  padding-top: 7px;
}

.btn_join {
  width: 50px;
  height: 25px;
  margin-left: 5px;
  padding-top: 7px;
}
/*--header_nav--*/

.nav {
  top: 8px;
}

.nav_list {
  display: flex;
}

.nav_list_item {
  list-style: none;
}

.nav_list_item_link {
  display: flex;
  margin: 16px 30px;
  color: #edf2c5;
  font-family: Arial Black, sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}
/*--pumpkin image--*/
.image {
  margin-top: 20px;
  margin-bottom: 30px;
}
/*--vegetables-->*/
.content_box {
  display: flex;
  justify-content: space-between;
}

.vegetables {
  width: 445px;
  height: 45px;
}

.vegetables_title {
  font-family: Arial Black, sans-serif;
  font-size: 16px;
  color: #edf2c5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-bottom: 15px;
}

.vegetables_image {
  display: flex;
  justify-content: space-between;
}
/*--contact--*/

.contact {
  width: 445px;
  height: 45px;
}

.contact_title {
  font-family: Arial Black, sans-serif;
  font-size: 16px;
  color: #edf2c5;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 30px;
  margin-bottom: 15px;
}

.contact_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  background-color: #f7fbda;
  padding-left: 15px;
  padding-right: 15px;
}

.contact_information {
  font-family: ArialMT Regular, sans-serif;
  font-size: 12px;
  color: #7d7d7d;
  width: 410px;
  line-height: 1.33;
  padding-top: 16px;
}

.split_line {
  width: 414px;
  height: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #7d7d7d;
}

.contact_method {
  font-family: ArialMT Regular, sans-serif;
  font-size: 12px;
  color: #7d7d7d;
  padding-bottom: 16px;
}

.contact_method > p {
  line-height: 1.83;
}
/*--footer--*/

.footer {
  background-color: #778a50;
  margin-top: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
  text-align: center;
  font-family: ArialMT Regular, sans-serif;
  font-size: 12px;
  color: #edf2c5;
}